<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forfan.bigbang">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BigBangApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.qihoo.updatesdk.lib.UpdateTipDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.qihoo.appstore.updatelib.CheckUpdateService"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5810123cc62dca49f70020dd" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".component.activity.setting.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".test.TestActivity">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".component.activity.BigBangActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/BigBangTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".copy.CopyActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/OverlayTheme" />

        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:label="@string/app_name"
            android:theme="@style/BaseAppTheme" />

        <service
            android:name=".component.service.BigBangMonitorService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":monitor">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name=".component.service.ListenClipboardService"
            android:process=":monitor" />
        <service
            android:name=".component.service.ListenClipboardService$GrayInnerService"
            android:process=":monitor" />
        <service
            android:name=".component.service.ListenClipboardService"
            android:process=":monitor" />
        <service
            android:name=".component.service.JobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":monitor" />
        <service
            android:name=".component.service.GetAwayNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":monitor">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name=".component.contentProvider.BigBangContentProvider"
            android:authorities="com.forfun.bigbang"
            android:exported="false"
            android:process=":monitor" />

        <activity
            android:name=".component.activity.SplashActivity"
            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.activity.IntroActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".component.activity.OcrActivity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="multipart/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.activity.SettingBigBangActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.activity.WebActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/WebActivityTheme" />
        <activity android:name=".component.activity.SettingQueryActivity"></activity>

        <activity
            android:name=".component.activity.whitelist.WhiteListActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".component.activity.screen.ScreenCaptureActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/ScreenCaptureTheme">

        </activity>

        <service android:name=".component.activity.screen.ScreenCaptureService">

        </service>
    </application>

</manifest>