<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shang.xposed">

    <application
     >
        <activity android:name=".setting.XposedAppManagerActivity"
            android:theme="@style/BaseAppTheme">

        </activity>
        <activity android:name=".forcetouch.ForceTouchActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/BaseAppTheme">

        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="支持在任意APP中点击文字进行分词,可以对每个应用选择单击、双击或者长按。建议在设置中将【点击悬浮球触发BigBang】打开，以减少误触发。" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>
