<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shang.xposed">

    <application
     >
        <activity android:name=".setting.XposedAppManagerActivity"
            android:theme="@style/BaseAppTheme">

        </activity>
        <activity android:name=".forcetouch.ForceTouchActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/BaseAppTheme">

        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="支持在任意app中双击文字进行分词功能,另外在设置中可设置双击时长哦!\n太灵敏的建议将双击时长调小.建议在设置中将【点击悬浮球触发BigBang】打开" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>
